<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title>Tornado context processors</title>
    </head>
    <body>
        Tornado context processors Example

        <div>
            <h1>app.main context processors</h1>
            <div>
                {{ say_hello }}  
            </div>
        </div>

        <div>
            <h1>Index View render_to_response context parameter</h1>
            <div>
                {{ handler_name }}
            </div>
        </div>

    </body>
</html>
